/*
 * Created By: Lou Cram
 * Date Started: 2/14/15
 * Date Last Updated: 2/18/15
 *
 */

body {
     background-color:beige;
     }
#results {
     font-weight:bold;
     color:blue;
 }
 #errors {
     font-weight:bold;
     color:red;
 }
 span {
     color:red;
 }

